# append(x): Adds an item (element x) to the end of the list.

In [1]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

# extend(iterable): Extends the list by appending elements from an iterable (e.g., list, tuple, string) to the end.

In [2]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

# insert(i, x): Inserts an item x at a specified position i in the list.

In [3]:
my_list = [1, 2, 3]
my_list.insert(1, 5)
print(my_list)  # Output: [1, 5, 2, 3]

[1, 5, 2, 3]

# remove(x): Removes the first occurrence of item x from the list. Raises a ValueError if x is not found.

In [4]:
my_list = [1, 2, 3, 4]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4]

[1, 2, 4]

# pop([i]): Removes the item at the specified position i and returns it. If i is not provided, pop() removes and returns the last item in the list.

In [5]:
my_list = [1, 2, 3, 4]
popped_item = my_list.pop(1)
print(popped_item)  # Output: 2
print(my_list)       # Output: [1, 3, 4]

2
[1, 3, 4]

# index(x): Returns the index of the first occurrence of item x in the list. Raises a ValueError if x is not found.

In [ ]:
my_list = [1, 2, 3, 4, 2]
index = my_list.index(2)
print(index)  # Output: 1

# count(x): Returns the number of occurrences of item x in the list.

In [ ]:
my_list = [1, 2, 3, 4, 2]
count = my_list.count(2)
print(count)  # Output: 2

# sort(): Sorts the items of the list in ascending order.

In [6]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print(my_list)  # Output: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

# reverse(): Reverses the elements of the list in place.

In [7]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

# reverse(): Reverses the elements of the list in place

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

# copy(): Returns a shallow copy of the list.

In [10]:
my_list = [1, 2, 3]
new_list = my_list.copy()
new_list

[1, 2, 3]

# delete the data index wise

In [4]:
del(l[2])
l

[2, 4, 6, 2]

# slice function

In [5]:
lis = ["ajay","ahmed",3.43,2,True]
lis

['ajay', 'ahmed', 3.43, 2, True]

In [8]:
print(lis[1:4])

['ahmed', 3.43, 2]

In [9]:
print(lis[0:])

['ajay', 'ahmed', 3.43, 2, True]

In [10]:
print(lis[:3])

['ajay', 'ahmed', 3.43]

In [13]:
print(lis[-3:-1])

[3.43, 2]

In [18]:
lis[0]="babar"
lis

['babar', 'ahmed', 'babar', 2, True]

# unpacked the list

In [22]:
fruit = ["apple","banana","mango"]
fruit

x,y,z = fruit
x

'apple'

# tuple

In [24]:
tup =(1,3,35,3)
tup

(1, 3, 35, 3)

In [25]:
type(tup)

tuple

In [26]:
tup1 = (True,"ava",3,4.4)
tup1

(True, 'ava', 3, 4.4)

In [27]:
tup = (5,43,7,4)
tup

(5, 43, 7, 4)

In [37]:
# tup[0]="ahmed"
# tup

# tuple's functions ,tuple conversion into list and update and vice versa,original and copy of tuples?

# Update the tuple (Note: Tuples are immutable, so you can't directly update them

# Convert tuple to list, update, and convert back to tuple

 # Convert tuple to list

In [8]:
tup=(1,2,3,4)
lis_data=list(tup)
lis_data
type(lis_data)

list

# Update the list

In [9]:
lis_data.append(5)
lis_data

[1, 2, 3, 4, 5]

In [11]:
lis_data[2]=6
lis_data

[1, 2, 6, 4, 5]

# Convert the list back to tuple

In [14]:
tuple_data=tuple(lis_data)
tuple_data

(1, 2, 6, 4, 5)

# tuples are immutable, meaning their elements cannot be changed or modified after creation. If you need to modify the data, it's often easier to work with lists and then convert them back to tuples if necessary.

# if we change the original list then its copy will also be changed automatically.

In [3]:
lst=[1,2,3,4]
lst.append(7)
list_Copy=lst.copy()

lst

[1, 2, 3, 4, 7]

In [4]:
list_Copy

[1, 2, 3, 4, 7]